<div class="container-fluid mb-4">
  <a class="float-right btn btn-outline-primary" href="tree/{{treeId}}">back</a>
  
  <h1>Poster</h1>

  <div class="row">

    <div class="col-lg-4">
      <input class="form-check-input ml-2" id="checkAll" type="checkbox" [(ngModel)]="allChecked" (change)="checkAll()">
      <label class="form-check-label ml-5" for="checkAll">check all</label>

      <table class="list-table table table-borderless">
        <thead>
          <tr>
            <th class="font-weight-lighter">People</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-light border border-white" *ngFor="let person of people; let i = index" [attr.data-index]="i">
            <td class="list-table__table-cell font-weight-bold border-right">
              <input class="form-check-input ml-2" id="personCheckbox{{i}}" type="checkbox" [(ngModel)]="checked[i]">
              <label class="form-check-label ml-5" for="personCheckbox{{i}}">{{ person | person }}</label>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="my-2">
        <div class="row">
          <div class="col-8">
            <label for="title">
              Title
            </label>
            <input id="title" name="title" class="form-control" type="text" [(ngModel)]="title">
          </div>
          <div class="col-4">
            <label for="titleSize">
              Font size
            </label>
            <input id="titleSize" name="titleSize" class="form-control" type="number" [(ngModel)]="titleSize">
          </div>
        </div>
      </div>

      <div class="mb-5 ml-3">
        <input class="form-check-input" id="posterDates" type="checkbox" [(ngModel)]="posterDates">
        <label class="form-check-label" for="posterDates">Display dates</label>
      </div>

      <div class="row mb-5">
        <button class="btn btn-primary mx-2" (click)="refreshPicture()">Refresh picture</button>
        <button class="btn btn-primary mx-2" (click)="generatePoster()">Generate poster</button>
      </div>
    </div>

    <div class="col-lg-8">
      <app-tree-draw [people]="checkedPeople"></app-tree-draw>
    </div>

  </div>
</div>
