<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">
    Tree of a kind
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto"></ul>

    <div class="navbar-nav" *ngIf="isLoggedIn()">
      <a class="nav-item nav-link" *ngIf="getUserEmail() != null" href="/user-profile"> {{ getUserEmail() }} </a>
      <li class="nav-item">
        <a class="nav-link" (click)="signOut()" href="/login"> Sign out </a>
      </li>
    </div>
  </div>

</nav>
